<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		
		<setting name="mapUnderscoreCamelCase"  value="true" />
		<setting name="callSettersOnNulls"  value="true" />
		<setting name="jdbcTypeForNull"  value="NULL" />
	</settings>
	
	<!--mapper에서 매칭할 parmeter Type 별칭 설정-->
	<typeAliases>
		<typeAlias type="com.custom.scheduler.model.SchedulerVo" alias="SchedulerVo"/>
	</typeAliases>
	
	
	
	
	
</configuration>